<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.Ajagoc"
      android:versionCode="126"
      android:versionName="1.26">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
     					android:name="ACRAMain"
    >
        <activity android:name=".Ajagoc"
                  android:configChanges="orientation|keyboardHidden"
     	        		android:theme="@style/ThemeV10"      
                  android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BT.BTList"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

    </application>

    <!--10:2.3.3 GingerBread MR1(2.3.4) 14:Icecreamsandwich(4.0) 15:IcecreamSandwichi MR1(4.0.4)-->
    <!--21:llipop(5.0), 22:lollipop(5.1)-->
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21"/>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<!-- allow wifi multicast msg receive-->
<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
<!-- 1A6Zs-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
<!-- 1A6Ze-->

    <uses-feature    android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature    android:name="android.hardware.nfc" android:required="false" />
    <uses-feature    android:name="android.hardware.wifi.direct" android:required="false" />

</manifest> 